<% if user_signed_in? %>
  <h1>Pick Your Golfers</h1>
  <% if @golfers.present? %>
    <%= form_with url: draft_submit_path, method: :post do |form| %>
      <% 8.times do |i| %>
        <div>
          <%= form.label "golfer_p#{i+1}", "Priority #{i+1}" %>
          <%= form.select "golfer_p#{i+1}", 
                        options_from_collection_for_select(@golfers, :id, ->(golfer) { "#{golfer.l_name}, #{golfer.f_name}" }), 
                        { prompt: "Choose a player" }, 
                        class: "dropdown" %>
          <br>
        </div>
      <% end %>

      <%= form.submit "Submit", disabled: true, class: "submit-button" %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Home", root_path %>
<% end %>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const dropdowns = document.querySelectorAll(".dropdown");
  const submitButton = document.querySelector(".submit-button");

  dropdowns.forEach((dropdown) => {
    dropdown.addEventListener("change", function() {
      updateDropdowns();
      checkAllDropdowns();
    });
  });

  function updateDropdowns() {
    let selectedValues = new Set();

    dropdowns.forEach((dropdown) => {
      if (dropdown.value) {
        selectedValues.add(dropdown.value);
      }
    });

    dropdowns.forEach((dropdown) => {
      let selected = dropdown.value;
      let options = dropdown.querySelectorAll("option");

      options.forEach((option) => {
        if (selectedValues.has(option.value) && option.value !== selected) {
          option.disabled = true;
        } else {
          option.disabled = false;
        }
      });
    });
  }

  function checkAllDropdowns() {
    const allSelected = Array.from(dropdowns).every(dropdown => dropdown.value !== '');
    submitButton.disabled = !allSelected;
  }
});
</script>